{% extends 'layoutEmail.html.twig' %}
{% block title %}
    New episode
{% endblock %}
{% block body %}
    <h1>New episode {{ episode.title }} created</h1>
    <p>Hello, the new episode {{ episode.title }} from {{ episode.season.program.title }} (season n° {{ episode.season.number }}) has been created on Wild Series</p>
    <p>Synopsis : {{episode.synopsis }}</p>
    <a href="{{ path('program_episode_show', {programSlug: episode.season.program.slug, seasonId: episode.season.id, episodeSlug: episode.slug}) }}">Voir les épisodes</a>
{% endblock %}