{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.id }} de {{ program.title }}{% endblock %}

{% block body %}
    <div class="media">
        {# <img class="align-self-start mr-3" src="{{ asset(program.poster) }}" alt="{{ program.title }} poster"> #}
        <div class="media-body">
            <h1 class="mt-0">Saison {{ season.number }} de {{ program.title }}</h1>
            <p>{{ program.synopsis }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            <p>Année : {{ season.year }}</p>

            <h3>Liste des épisodes</h3>
            <ul>
                {% for episode in season.episodes %}
                    <li>
                        <h3>Episode {{ episode.number }} : {{ episode.title }}</h3>
                        <em>{{ episode.synopsis }}</em>
                        <a href="{{ path('program_episode_show', { programSlug: program.slug, seasonId: season.id, episodeSlug: episode.slug }) }}">Voir la fiche</a>
                    </li>
                {% else %}
                    <h3>lol</h3>
                {% endfor %}


            </ul>
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}