<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="{{ path('app_index') }}">
                <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Wild séries
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: center;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ws-navbar-ul">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Catégories
                    </a>
                    <ul class="dropdown-menu">
                        {% for category in allCategories.findAll %}
                            <li><a class="dropdown-item" href="{{ path('category_show', {categoryName: category.name}) }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Programmes
                    </a>
                    <ul class="dropdown-menu">
                        {% for program in allPrograms.findAll %}
                            <li><a class="dropdown-item" href="{{ path('program_show', {id: program.id}) }}">{{ program.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mes favoris</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: flex-end !important;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ws-navbar-ul">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Déconnexion</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand nav-link active" href="#">
                        John Doe
                        <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>